autom4te.cache
AutoConf/Makefile
AutoConf/autoscan.log
AutoConf/autoscan-*.log
AutoConf/aclocal.m4
AutoConf/compile
AutoConf/config.guess
AutoConf/config.h.in
AutoConf/config.log
AutoConf/config.status
AutoConf/config.sub
AutoConf/configure
AutoConf/configure.scan
AutoConf/depcomp
AutoConf/install-sh
AutoConf/missing
AutoConf/stamp-h1

example

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
